body {
    background-color:lightgray;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: 0;
    flex-direction: column;
    justify-content: left;
}

#bindings {
    margin: 15px;
    padding: 0px;
    list-style-type: none;
}

.main {
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
}

div.calc {
    width: 425px;
    height: 525px;
    border-radius: 8px;
    border: solid, rgb(085,085,085);
    background-color:lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#calc-title {
    width: calc(87%);
    font-size:x-large;
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
div#solar-panel {
    margin-right: 20px;
    width: 150px;
    height: 35px;
    background-color:rgb(82, 43, 43);
    border-radius: 4px;
}

div.screen {
    width: 290px;
    height: 35px;
    padding: 15px 10px 0px;
    border-radius: 4px;
    border: 2px, solid, darkslateblue;
    background-color: slateblue;
    font-size: 22px;
    
}

p.display {
    display: inline;
}

div.button-wrapper {
    margin: 25px;
    width: 385px;
    height: calc(100% - 300px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.buttons{
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 0px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

button {
    border-radius: 12px;
    border-color: rgb(100,100,100);
    background-color:gainsboro;
    width: 60px;
    height: 55px;
    margin: 3px;
    font-size: 25px;
    font-family: inherit;
}

.operators {
    padding: 0px;
    margin: 0px;
    width: 133px;
    display: flex;
    flex-wrap: wrap;
}


div.log {
    width: 350px;
    height: 525px;
    background-color: bisque;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.log-top {
    display: flex;
    flex-direction: column;
}

div.log button {
    height: 30px;
    width: 64px;
    font-size: 14px;
    background-color:beige;
}

#clear-log {
    width: 80px;
    height: 36px;
    font-size: 18px;
    background-color:lightpink;
    align-self: center;
}